
nav{
    float:left;
    height: 100%;
    background-color: #e3e0d8;
    color: black;
    position: fixed;
    top:0px;
    left: 0px;
  }
  main{
    margin:2%;
    /*clear: left;*/
     overflow: auto;
  }
  .nav-link{
    font-size:25px;
    color: black !important;
    
  }
a:hover{
    background-color: #819beb !important;
    
  }
  header{
    font-size:35px;
  }
.img1{
  margin: auto;
  width:50%;
  height:50%;
}
 
ul{
   margin:0px;
}
ul li{

   margin:0px;
   list-style:none;
  display:block;
 
}
ol li{
  list-style:square;
  font-size:25px;
}
p{
   font-size:25px;
}
header{
  font-weight:bold;
}




span{
  font-size:25px;
}
body{
zoom: 80%;
}

xmp{
  overflow: visible;
  margin-top:0px;
  font-size:25px;
  background:#000000;
  color: #fff;
  margin-bottom:0px;
} 
ul{
   padding: 0;
}

  .container {
    font-size: 40px;
    
    /* Only change code below this line */
margin:0px;
    
    /* Only change code above this line */
  }

.nav-link{
  text-decoration:none;
  color:black;

}
article{
  margin-top:25px;
}
.main-section{
  margin-top: 25px;
  border-top: 5px solid grey;
}

